<div class="row mx-0 gy-3 gx-md-3">
    <div class="col-md-5 text-center text-md-end">
        <div class="row mx-0 gy-3">
            <app-portfolio-img class="col-12 pe-md-4" className="mx-auto ms-md-auto me-md-0"
                [card]="getCard('visual1')"></app-portfolio-img>
            <app-portfolio-img class="col-12 pe-md-4" className="mx-auto ms-md-auto me-md-0"
                [card]="getCard('visual3')"></app-portfolio-img>
            <app-portfolio-img class="col-12 pt-md-4" className="mx-auto ms-md-auto me-md-0"
                [card]="getCard('visual5')"></app-portfolio-img>
        </div>
    </div>
    <div class="col-md-7 ps-0">
        <div class="row mx-0 gy-3">
            <app-portfolio-img class="col-12" [card]="getCard('visual2')"></app-portfolio-img>
            <app-portfolio-img class="col-12 ps-md-3" [card]="getCard('visual4')"></app-portfolio-img>
            <app-portfolio-img class="col-12 ps-md-5" [card]="getCard('visual6')"></app-portfolio-img>
        </div>
    </div>
</div>

<div class="row mx-0 mt-0 mt-md-4 gy-3 gx-md-4">
    <app-portfolio-img class="col-md-3 text-center text-md-end" className="mx-auto ms-md-auto me-md-0"
        [card]="getCard('visual7')"></app-portfolio-img>
    <app-portfolio-img class="col-md-9 text-center text-md-start" className="mx-auto ms-md-auto me-md-0"
        [card]="getCard('visual8')"></app-portfolio-img>
</div>

<div class="row mx-0 mt-0 mt-md-4 gy-3 gx-md-4">
    <app-portfolio-img class="col-md-5 text-center text-md-end" className="mx-auto ms-md-auto me-md-0"
        [card]="getCard('visual9')"></app-portfolio-img>
    <app-portfolio-img class="col-md-7 text-center text-md-start" className="mx-auto ms-md-0 me-md-auto"
        [card]="getCard('visual10')"></app-portfolio-img>
</div>

<div class="row mx-0 mt-0 mt-md-4 gy-3 gx-md-4">
    <app-portfolio-img class="col-md-8 text-center text-md-end pt-md-4" className="mx-auto ms-md-auto me-md-0"
        [card]="getCard('visual11')"></app-portfolio-img>
    <app-portfolio-img class="col-md-4 text-center text-md-start" className="mx-auto ms-md-0 me-md-auto"
        [card]="getCard('visual12')"></app-portfolio-img>
</div>

<div class="row mx-0 mt-0 mt-md-4 gy-3 gx-md-4">
    <div class="col-md-5">
        <div class="row mx-0 gy-3 gy-md-4">
            <app-portfolio-img class="col-12 text-center text-md-end" className="mx-auto ms-md-auto me-md-0"
                [card]="getCard('visual13')"></app-portfolio-img>
            <app-portfolio-img class="col-12 text-center text-md-end" className="mx-auto ms-md-0 me-md-auto"
                [card]="getCard('visual16')"></app-portfolio-img>
        </div>
    </div>
    <Div class="col-md-7">
        <div class="row mx-0 gy-3 gy-md-4">
            <app-portfolio-img class="col-12 ps-md-6" [card]="getCard('visual14')"></app-portfolio-img>
            <app-portfolio-img class="col-12" [card]="getCard('visual15')"></app-portfolio-img>
            <app-portfolio-img class="col-12" [card]="getCard('visual17')"></app-portfolio-img>
        </div>
    </Div>
</div>
