
<div id="landing-background">

    

   

    
    


</div>


<div id="landing-row1" class="row px-4">

    <div class="col-3">
        <img src="landing1.png" id="landing1" />
    </div>
    <div class="col-9">

        <div id="__p__hi_" >
            Hi!
        </div> 

        <div id="__p__i_m_emma_dempsey" >
            I'm Emma Dempsey
        </div>

        <div id="__p__i_m_a_recent_college_graduate_with_a_creative__business_minded_perspective__take_a_look_at_my_work__i_d_love_to_chat_about_it_with_you__" >
            I'm a recent college graduate with a creative,business-minded perspective. Take a look at my work, I'd love to chat about it with you. 
        </div>

    </div>
</div>

<div id="landing-row2" class="row px-4">

    <div class="col-9">
    </div>
    <div class="col-3">
        <img src="landing2.png" id="landing2" />
    </div>
</div>

<div id="landing-row3" class="row px-4">

    <div class="col-3">
        <img src="landing3.png" id="landing3" />
    </div>
    <div class="col-9">
    </div>
</div>
