<div id="landing-row1" class="row pb-5">

    <div class="col-sm-4 align-self-center order-last order-sm-first">
        <img src="/images/landing1.png" id="landing1" class="img-fluid" alt="Picture of Emma Dempsey at a farm" />
    </div>
    <div class="col-sm-8 order-first order-sm-last">

        <div id="__p__hi_">
            Hi!
        </div>

        <div id="__p__i_m_emma_dempsey">
            I'm Emma Dempsey
        </div>

        <div
            id="__p__i_m_a_recent_college_graduate_with_a_creative__business_minded_perspective__take_a_look_at_my_work__i_d_love_to_chat_about_it_with_you__">
            I'm a recent college graduate with a creative, business-minded perspective. Take a look at my work, I'd love
            to chat about it with you.

            <img src="/images/envelopeH.png" id="envelope" class="img-fluid" alt="Envelope icon" />
        </div>

    </div>
</div>


<div id="landing-row2" class="row gx-2 pb-5">

    <div class="col-sm-8">
        <div id="__p__what_do_i_do_">
            What do I do?
        </div>

        <div
            id="__p__from_media_production__design__and_theory__i_ve_worked_to_make_myself_familiar_with_it_all__my_studies_and_work_experiences_have_given_me_the_opportunity_to_create_with_various_creative_tools__my_goal_is_for_my_work_to_inspire_and_to_effortlessly_communica">
            From media production, design, and theory, I've worked to make myself familiar with it all. My studies and
            work experiences have given me the opportunity to create with various creative tools. My goal is for my work
            to inspire and to effortlessly communicate with audiences.
        </div>


    </div>

    <div class="col-sm-4 align-self-center">
        <img src="/images/landing2.png" id="landing2" class="img-fluid" alt="Picture of Emma Dempsey in a theater" />
    </div>
</div>


<div id="landing-row3" class="row gx-2">

    <div class="col-sm-4 align-self-center order-last order-sm-first">
        <img src="/images/landing3.png" id="landing3" class="img-fluid"
            alt="Picture of Emma Dempsey in a field on a sunny day" />
    </div>
    <div class="col-sm-8 order-first order-sm-last">
        <div id="__p__why_do_i_do_it_">
            Why do I do it?
        </div>
        <div
            id="__p__i_know_that_i_have_a_strong_passion_for_helping_businesses_grow_and_succeed__to_me__nothing_is_more_fulfilling_than_seeing_a_project_come_to_life___">
            I know that I have a strong passion for helping businesses grow and succeed. To me, nothing is more
            fulfilling than seeing a project come to life.
        </div>

    </div>
</div>
