#contactlogo-container {
    width: fit-content;
}

#NameBox {
    font-family: 'MADECarvingSoftRegular';
    font-size: 15px;
}

#EmailBox {
    font-family: 'MADECarvingSoftRegular';
    font-size: 15px;
}

#MessageBox {
    font-family: 'MADECarvingSoftRegular';
    font-size: 15px;
}

h5 {
    font-family: 'MADECarvingSoftRegular';
    color: #A21E5B;
}

// ArialRoundedBold; MADECarvingSoftRegular; MADETommyRegular
