#NameBox {
    font-family: MADE Carving Soft PERSONAL USE;
    font-size: 15px;
}

#EmailBox {
    font-family: MADE Carving Soft PERSONAL USE;
    font-size: 15px;
}

#MessageBox {
    font-family: MADE Carving Soft PERSONAL USE;
    font-size: 15px;
}

#h5 {
    font-family: MADE Carving Soft PERSONAL USE;
    color: #A21E5B;
}
