
<div class="my-5">
    <div class="mx-auto" id="contactlogo-container">
        <img src="/images/contactlogo.png" id="contactlogo" alt="Emma Dempsey Logo" />
    </div>
</div>

<h5>Reach Out</h5>

<div class="mb-3">
    <input type="email" class="form-control" id="NameBox" placeholder="Name">
  </div>

  <div class="mb-3">
    <input type="email" class="form-control" id="EmailBox" placeholder="Email">
  </div>

  <div class="mb-3">
    <textarea class="form-control" id="MessageBox" rows="3" placeholder="Type your message here..."></textarea>
  </div>

  <button class="btn btn-light w-100 py-4">Submit</button>
