<div class="my-5">
    <div class="mx-auto" id="contactlogo-container">
        <img src="/images/contactlogo.png" id="contactlogo" alt="Emma Dempsey Logo" />
    </div>
</div>

<h5>Reach Out</h5>

<form (submit)="onFormSubmit($event, name.value, subject.value, message.value)" (input)="onInput()">
    <div class="mb-3">
        <input #name class="form-control" [ngClass]="nameInputClasses()" id="NameBox" type="text" placeholder="Name">
        <div class="invalid-feedback">
            Please provide a valid name
        </div>
    </div>

    <div class="mb-3">
        <input #subject class="form-control" [ngClass]="subjectInputClasses()" id="SubjectBox" type="text" placeholder="Subject">
        <div class="invalid-feedback">
            Please provide a valid subject
        </div>
    </div>

    <div class="mb-3">
        <textarea #message class="form-control" [ngClass]="messageInputClasses()" id="MessageBox" rows="3" type="text"
            placeholder="Type your message here..."
        ></textarea>
        <div class="invalid-feedback">
            Please provide a valid message
        </div>
    </div>

    <button class="btn btn-light w-100 py-4" type="submit">Send Email</button>
</form>
