
<div class="my-5">
    <div class="mx-auto" id="contactlogo-container">
        <img src="/images/contactlogo.png" id="contactlogo" alt="Emma Dempsey Logo" />
    </div>
</div>

<h5>Reach Out</h5>

<!-- action="mailto:Emma Dempsey emmadempysey.professional@gmail.com?subject={{'Inquiry from ' + emailName.value}}&body={{emailBody.value}}" -->
 <!-- (submit)="onSubmit(name.value, subject.value, body.value)" -->
<form (submit)="onFormSubmit($event)" (input)="onInput()" [ngClass]="{'was-validated': showValidation()}" novalidate>
    <div class="mb-3">
        <input #name class="form-control" id="NameBox" type="text" placeholder="Name" required>
        <div class="invalid-feedback">
            Please provide a valid name.
          </div>
      </div>
    
      <div class="mb-3">
        <input #subject class="form-control" id="SubjectBox" type="text" placeholder="Subject" required>
      </div>
    
      <div class="mb-3">
        <textarea #body class="form-control" id="MessageBox" rows="3" type="text" placeholder="Type your message here..." required></textarea>
      </div>
    
      <button class="btn btn-light w-100 py-4" type="submit">Send Email</button>
</form>
