@font-face {
    font-family: 'ArialRoundedBold';
    src: url("^./../../../public/fonts/ArialRoundedBold.ttf") format("truetype");
}
@font-face {
    font-family: 'MADECarvingSoftRegular';
    src: url("^./../../../public/fonts/MADECarvingSoftRegular.otf") format("opentype");
}
@font-face {
    font-family: 'MADETommyRegular';
    src: url("^./../../../public/fonts/MADETommyRegular.otf") format("opentype");
}
@font-face {
    font-family: 'AvenirNext';
    src: url("^./../../../public/fonts/Avenir Next.ttc") format("truetype");
    font-weight: normal;
    font-style: normal;
}
