<div id="navigation-bar-container" class="d-flex flex-column flex-shrink-0 h-100 py-3 px-1 px-sm-3 w-fit-content">
    <a href="/" class="d-flex flex-grow-1 justify-content-start mb-3 mb-md-0 me-md-auto text-decoration-none">
        @if(isExpanded()) {
        <a [routerLink]="RouterLinkRoutePath.Landing" class="fs-4 text-decoration-none">
            <img src="images/navbarlogo.png" id="navbar-logo" class="img-fluid" alt="Simplified Logo Icon" />
        </a>
        }
    </a>
    <ul class="nav nav-pills flex-grow-5 justify-content-start flex-column nav-flush">
        @if(isExpanded()) {
        <li class="nav-item dropdown py-3">
            <button class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Portfolio
            </button>
            <ul class="dropdown-menu">
                <li>
                    <a [routerLink]="RouterLinkRoutePath.VisualPortfolio" class="dropdown-item nav-link" aria-current="page">
                        Visual Portfolio
                    </a>
                </li>
                <li>
                    <a [routerLink]="RouterLinkRoutePath.WritingPortfolio" class="dropdown-item nav-link" aria-current="page">
                        Writing Portfolio
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item dropdown py-3">
            <button class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Resume
            </button>
            <ul class="dropdown-menu">
                <li>
                    <a [routerLink]="RouterLinkRoutePath.Resume" class="dropdown-item nav-link" aria-current="page">
                        Preview
                    </a>
                </li>
                <li>
                    <a class="dropdown-item nav-link" href='images/resumeweb.jpg' download = 'Emma Dempsey Resume.jpg'>
                        Download
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item py-3">
            <a [routerLink]="RouterLinkRoutePath.Contact" class="nav-link">
                Contact
            </a>
        </li>
        }
    </ul>
    <hr>
    <div class="w-100">
        <button (click)="toggleIsExpanded()" class="btn btn-secondary border-0 bg-transparent mx-auto" id="navbar-arrow">
            @if(isExpanded()) {
                <img src="images/arrowleft.png" class="img-fluid" alt="Left arrow" />
            } @else {
                <img src="images/arrowright.png" class="img-fluid" alt="Right arrow" />
            }
        </button>
    </div>
</div>
