@import "variables";

#navigation-bar-container {
    background-color: $secondary;

    a, button {
        color: $primary;
        font-family: 'MADETommyRegular';
    }
}

#navbarlogo {
    max-width: 100px;
}
