@import "variables";

#navigation-bar-container {
    background-color: $secondary;

    a, button {
        color: $primary;
        font-family: 'MADETommyRegular';
    }
}

#navbar-logo {
    max-width: 6.25rem;
}

#navbar-arrow {
    max-width: 3.125rem
}
