<div id="navigation-bar-container" class="d-flex flex-column flex-shrink-0 h-100 p-3" [ngClass]="{
        'navigation-bar-expanded': isExpanded(),
        'navigation-bar-collapsed': !isExpanded()
    }">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">

        @if(isExpanded()) {
        <a [routerLink]="RoutePath.Landing" class="fs-4 text-decoration-none">
            <img src="navbarlogo.png" id="navbarlogo" class="img-fluid" />
        </a>
        }
    </a>
    <ul class="nav nav-pills flex-column mb-auto nav-flush">

        @if(isExpanded()) {
        <li class="nav-item dropdown">
            <button class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Dropdown
            </button>
            <ul class="dropdown-menu">
                <li>
                    <a [routerLink]="RoutePath.VisualPortfolio" class="dropdown-item nav-link" aria-current="page">
                        Visual Portfolio
                    </a>
                </li>
                <li>
                    <a [routerLink]="RoutePath.WritingPortfolio" class="dropdown-item nav-link" aria-current="page">
                        Writing Portfolio
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a [routerLink]="RoutePath.Resume" class="nav-link link-body-emphasis">
                Résumé
            </a>
        </li>
        <li>
            <a [routerLink]="RoutePath.Contact" class="nav-link link-body-emphasis">
                Contact
            </a>
        </li>
        }
    </ul>
    <hr>
    <div class="text-center">
        <button (click)="toggleIsExpanded()">
            @if(isExpanded()) {
            &lt;
            } @else {
            &gt;
            }
        </button>
    </div>
</div>
