@import "variables";

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.container {
    position: relative;
    text-align: center;
    color: white;
}

p {
    text-indent: 2em;
    /* or 15px, or 5%, 2rem or 3vw */
    color: $primary;
}
