@import "bootstrap/scss/mixins";
@import "variables";

/* Animation for removing the instructions */
#writing-portfolio-instruction {
    transition: opacity 0.5s ease, max-height 0.5s ease;
    max-height: 200px;
}

#writing-portfolio-instruction.visual-slideup-dissapear {
    opacity: 0;
    max-height: 0;
}

/* Button sizing */
button {
    font-size: 1.5rem;
    border-radius: .75rem;
}

@include media-breakpoint-up(lg, $grid-breakpoints) {
    button#writing-portfolio-btn-shawshank {
        max-width: 22rem;
    }
    
    button#writing-portfolio-btn-dali {
        max-width: 22rem;
    }
    
    button#writing-portfolio-btn-entrepreneurship {
        max-width: 19rem;
    }
}

/* Writing */
section {
    border-radius: 1rem;

    p {
        text-indent: 2em;
        /* or 15px, or 5%, 2rem or 3vw */
        color: $primary;
    }
}

#writing-portfolio-btn-shawshank {
    font-family: MADETommyRegular;
    font-size: 20px;
}

#writing-portfolio-btn-dali {
    font-family: MADETommyRegular;
    font-size: 20px;
}

#writing-portfolio-btn-entrepreneurship {
    font-family: MADETommyRegular;
    font-size: 20px;
}

h1 {
    font-family: ArialRoundedBold;
    color: $primary;
    font-size: 50px;
}

h5 {
    font-family: MADETommyRegular;
    color: $primary;
    font-size: 25px;
    padding-top: 10px;
}
