<div class="mb-2">
    <h1 class="w-fit-content mx-auto">Writing Portfolio</h1>
</div>

<div class="mb-2" id="writing-portfolio-instruction" [ngClass]="{'visual-slideup-dissapear': (selection() !== SelectedWriting.None)}">
    <h5 class="w-fit-content mx-auto">Select a Title</h5>
</div>

<div class="row mt-0 mb-4 mx-0 px-5 gx-3 gy-4 justify-content-around">
    <div class="col-auto">
        <button class="btn btn-secondary" [ngClass]="{'active': (selection() === SelectedWriting.Shawshank)}"
            id="writing-portfolio-btn-shawshank" (click)="onSelectWriting(SelectedWriting.Shawshank)">
            The Shawshank Redemption's Modern Redemption
        </button>
    </div>
    <div class="col-auto">
        <button class="btn btn-secondary" [ngClass]="{'active': (selection() === SelectedWriting.Dali)}"
            id="writing-portfolio-btn-dali" (click)="onSelectWriting(SelectedWriting.Dali)">
            Salvador Dalí's The Little Theater: How His Performance Art Background Influenced Audience Perception
        </button>
    </div>
    <div class="col-auto">
        <button class="btn btn-secondary" [ngClass]="{'active': (selection() === SelectedWriting.Entrepreneurship)}"
            id="writing-portfolio-btn-entrepreneurship" (click)="onSelectWriting(SelectedWriting.Entrepreneurship)">
            Young Entrepreneurship: A Sweet Dream
        </button>
    </div>
</div>


@switch (selection()) {
    @case (SelectedWriting.Shawshank) {
        <section class="border border-secondary border-opacity-50 border-4 p-3">
            <p>
                <span class="fst-italic">The Shawshank Redemption</span> is a story about patience above everything else. It is
                one of the best stories told through film in the past 30 years, but sadly one of little recognition. Part of the
                reason for its minimal mainstream success and acclaim is because of that reliance on patience. It tells its
                story in the way it feels it should: slowly and respectfully. However, even for the filmmaking standards of
                1994, it was a dull and unexciting title for prospective audiences at the movie theaters. Similarly to today,
                films that succeed in the box office are now traditionally ones full of action and science-fiction. The late
                film critic Roger Ebert picked up on this trend with his review on <span class="fst-italic">Shawshank</span> in
                1999, and since then its prominence in the film industry has nearly absorbed all other types of genres. So, what
                makes <span class="fst-italic">Shawshank</span> deserving of the nomination for the Academy Awards&#39;s 1995
                Best Picture, but not the attention of regular audiences?
            </p>

            <p>
                Set in the American Northeast and beginning in the 1940s, <span class="fst-italic">The Shawshank
                    Redemption</span> follows successful banker, Andy Dufresne (Tim Robbins), as he is imprisoned with two life
                sentences for the murder of his wife and her lover. Andy is taken to Shawshank State Prison where he encounters
                Ellis “Red” Redding (Morgan Freeman), another lifer who has a reputation for being a guy who can get people
                things. The two form a special bond throughout the course of the film, as Andy&#39;s sentencing is questioned.
                He doesn&#39;t seem like the type to commit such a heinous crime, and his collected demeanor sticks out amongst
                the rest of the criminals. Red shows Andy how to adapt to prison life, while Andy reminds Red that adapting is
                giving up hope for a life beyond the walls. The film highlights not only the abuse and corruption that takes
                place within American prisons, but the psychological impact being disconnected from the rest of the world has on
                lifers like Red, Andy, and other characters like Brooks, a man granted parole after fifty years of
                incarceration. Director and author of the screenplay Frank Darabont is an exceptional storyteller, as he
                realizes that aligning the pace of the film with that of the time the prisoners are serving would help audiences
                not just watch, but live the experience of prison with the characters. Watching <span
                    class="fst-italic">Shawshank</span> is spiritual; when the redemption comes, it is felt in the soul.
            </p>

            <p>
                However, this wasn&#39;t the sentiment shared by Hollywood and the general American public. Many critics upon
                the film&#39;s release searched for answers as to why it performed so poorly in the box office, only making $16
                million after its initial theatrical run. <span class="fst-italic">Shawshank</span> had a tough job with
                marketing itself, as films about prisons, casts with no women, and somewhat ambiguous titles like a story about
                redemption weren&#39;t attractive to movie-going audiences. 1994 brought films like <span
                    class="fst-italic">Forrest Gump</span> and <span class="fst-italic">Pulp Fiction</span> to theaters, which
                were generally more exciting and stimulating stories as compared to <span class="fst-italic">Shawshank</span>
                This was in an age before streaming and social media, the two biggest advancements in technology that help films
                that are based in unpopular or fringe genres succeed today. Roger Ebert originally reviewed <span
                    class="fst-italic">Shawshank</span> at its release, and pointed out how a full watch of the film invalidated
                these naive concerns: “This is not a &#39;prison drama&#39; in any conventional sense of the word. It is not
                about violence, riots or melodrama. The word &#39;redemption&#39; is in the title for a reason”. Still, though,
                it continued to be overlooked.
            </p>

            <p>
                Five years later Ebert returned with a second <span class="fst-italic">Shawshank</span> review, one with a score
                improvement that raised the initial 3 ½ stars to 4. This time, he exclaimed over the film&#39;s newfound success
                within the home video market. <span class="fst-italic">Shawshank</span> had done surprisingly well with DVD
                sales and rentals, and by the end of the millennia the film was regarded as a cult classic masterpiece. Ebert
                leaves a thought provoking remark regarding its new audience: “&#39;Shawshank&#39; was a phenomenon, a video
                best seller and renter that its admirers feel they&#39;ve discovered for themselves”. Media at this point was on
                the cusp of its greatest transformation yet, a dive headfirst into the digital realm. A lot of today&#39;s
                greatest movies are discovered not at the cinema, but on a couch, or inches away from a smartphone screen.
                Independent films like <span class="fst-italic">Call Me By Your Name</span> (2017) and <span
                    class="fst-italic">Moonlight</span> (2016) had their success through being easily accessible, being
                available to stream on services like Netflix and Hulu, and being the topic of public discourse on platforms like
                Twitter/X and Letterboxd. <span class="fst-italic">Shawshank</span> may have been the first example of this kind
                of digital discovery. It was primitive compared to what technology allows people to do today, but it
                demonstrated the same concept that can be found within much of contemporary entertainment&#39;s greatest hits.
                The heavily marketed Hollywood films full of action and CGI provide audiences with momentary entertainment and
                stimulation. But the films audiences discover for themselves can be emotional, spiritual, and most importantly:
                memorable.
            </p>

            <p>
                It is hard to connect to modern movie characters in the same way that audiences can with Andy, Red, and the
                other prisoners. Darabont&#39;s decision to tell the story in a way that would deter the masses rewarded him
                with a more dedicated audience who care about the story and will watch it time and time again, even three
                decades later. Ebert ends his second review by saying, “All good art is about something deeper than it admits”.
                Even after knowing the film's biggest secret, it's an easy choice to decide to rewatch it. Because <span
                    class="fst-italic">The Shawshank Redemption</span> isn&#39;t about prison, it&#39;s about people. There
                aren't many things more relatable than that.
            </p>
        </section>
    }
    @case (SelectedWriting.Dali) {
        <section class="border border-secondary border-opacity-50 border-4 p-3">
            <p>
                Salvador Dalí, born in 1904, was a Spanish artist known well for his works exploring the ideas of surrealism.
                His work is regarded as some of the most influential art from the surrealism movement. He is known mostly for
                his paintings, but actually Dalí was influenced by many different artistic mediums and practices, two of which
                include filmmaking and theater. They are likely some of his lesser known works, but Dalí did make a few films
                over the course of his career. Two of these include the short film <span class="fst-italic">Un Chien
                    Andalou</span>, and <span class="fst-italic">L&#39;Age D&#39;or</span> which features Max Ernst, a
                contemporary of Dalí who also created a lot of respected surrealist artwork. Dalí also dabbled in the art of set
                design. In an early point in his career, as early as 1927, Dalí had begun designing sets for different ballets
                that desired to take on a more experimental appearance, as opposed to the traditional aesthetic of a classic
                ballet. This love of storytelling and performance can provide a good background for the influences Dalí was
                considering when he created <span class="fst-italic">The Little Theater</span>, a piece which takes into account
                the experience of viewing the performing arts while also employing themes outlined in the surrealist movement.
            </p>

            <p>
                <span class="fst-italic">The Little Theater</span> is a sculpture created by Salvador Dalí in 1934. The piece is
                constructed out of wood and eleven panels of glass, which are painted to create a small scene. The dimensions of
                the piece are 12 ¾” by 16 ¾” by 12 ¼”, and this information is significant to the piece because the sculpture is
                three dimensional. Upon visiting and viewing this piece today at its current location at the Museum of Modern
                Art in New York City, where it has been preserved, viewers will note its distinct and unique display method. The
                sculpture is actually installed into the wall, allowing viewership from exclusively the front side of the piece
                into what appears to be a small room, lit up by a light source. The panels of glass are layered within the
                sculpture that allows for a real sense of depth when viewing the piece. However, the subjects and objects
                depicted in the painted portions on the glass create a sense of manipulated depth in the piece. As stated in the
                dimensions, the real depth of the sculpture is only a couple of inches, a bit more than a foot. But the way Dalí
                has painted the glass of this piece allows for a much greater, deeper scene to be imagined.
            </p>

            <p>
                This was not Dalí&#39;s first attempt at this sculpture technique. A few years prior to <span
                    class="fst-italic">The Little Theater</span>, Dalí had produced another diorama-like sculpture titled <span
                    class="fst-italic">Babaouo</span>. This piece, from 1932, was made to promote a book written by Dalí that
                featured the script for an unreleased surrealist film, also written by Dalí. The piece itself features
                bicyclists riding in the foreground, against a small plane of trees. The title of the piece, and the book, is
                written in the sky above them. The technique of this piece, that employs a light inside the sculpture that
                emphasizes the contrast between the panels of glass, was obviously utilized again two years later with <span
                    class="fst-italic">The Little Theater</span>. But it is significant to look at this piece as well due to
                their relatedness and due to the unique process done to accomplish the desired effects.
            </p>

            <p>
                While the piece is clearly connected to theatrics, filmmaking does still have an influence on this sculpture.
                Dalí&#39;s early years of life happened to coincide with the pioneering of the moving image. Emile Reynaud was
                the inventor of a device called a praxinoscope, the first animation device. Reynaud&#39;s discoveries with
                moving pictures with the praxinoscope lead him to create the théâtre optique, which was a film viewing system
                that saw hundreds of thousands of viewers over the course of a couple years at the Musée Grévin, located in
                Paris. From these developments in motion pictures, machines like the kinetoscope were invented. This is the
                device that likely had the most influence on Dalí. The kinetoscope allowed one person at a time to view a very
                short film, contained in a very small screen. From this, the kinetoscope also became known as a “peep show”, due
                to the nature of how people were meant to view the films. <span class="fst-italic">The Little Theater</span> may
                have been influenced by the peep show in that the nature of viewing the sculpture can feel intrusive. Viewers
                peer inside the wooden frame and glass panels to see the story that is unfolding inside, and that story can come
                across as somewhat unclear.
            </p>

            <p>
                The subjects within <span class="fst-italic">The Little Theater</span> appear, as the title would suggest, to be
                on a stage. However, there are many abstract elements in the piece that would challenge the argument of this
                being based in reality. The most forward, or closest element to the viewer is a brown floor, that would be
                placed there to establish that the location of this scene is on a theater stage. The very top of the piece is
                reminiscent of the highly ornate, grand ceilings of traditional theaters built in the 1920s and 1930s in New
                York City, around the same time this piece was created. The year this piece was made, 1934, just so happened to
                be the year Dalí and his wife, Gala Dalí, traveled to New York City for the first time. The up-and-coming
                Broadway theater scene of Times Square may have had an impact on this piece.
            </p>

            <p>
                In the right upper corner of the piece, there appears to be three figures looking out onto the scene and what is
                going on below. What they are standing on appears to be connected to the stage platform, and so it can be
                inferred that they are in the wings of the stage or the balconies of the theater. The forms of these figures are
                human-like, as they have the typical human body structure. However, they are lacking refined features, which can
                be seen in their faces and chests that appear to lack anything at all. It is clearest seen in the closest and
                biggest of the three figures that the space where the face and chest should be are completely empty. They are
                holes, allowing for visibility directly through them. Other than this, they are painted with visible
                brushstrokes that mimic some musculature. Overall, these distorted figures feel unsettling in many ways. The
                fact that they are positioned at the highest point of anything in the entire scene attributes them some
                dominance, which may be most disturbing of all.
            </p>

            <p>
                The bottom right corner of the piece features what appears to be the back of a cloaked figure and a blonde
                woman, whose body is hidden behind the side of the stage. In front of the cloaked figure, she holds out a piece
                of cloth, letting it dangle down. An interpretation of this could suggest that something promiscuous is
                happening between the woman and the cloaked figure, as from the small part of her body visible below her head it
                does not look as though she is wearing much clothes. But it is also possible she is acting or doing a quick
                change, as she could be part of the performance. A red heel hangs from a rope above their heads, which stands
                out against the cool blues and yellows that comprise the majority of the composition.
            </p>

            <p>
                The red heel hangs from a very large, long spoon that dangles above a group of people collected in the
                middleground. The length of the spoon, along with its skinniness creates the idea that this object is stretching
                and is also far away. In the background, there are a few people on bicycles, which could possibly be referencing
                Dalí first sculpture of this kind mentioned earlier, <span class="fst-italic">Babaouo</span>. Behind the
                cyclists is a long path lined with blue pillars. The path has seven long lines that eventually reach a blue
                sphere in the distance, close to a mountain range and body of water. The seven blue lines help in creating false
                distance in the piece, that aid in connecting up the middleground to the background. These elements as a whole
                really do a lot in creating that manipulated sense of depth. The blue sphere in the distance is quite small, but
                can be interpreted as large due to the leading lines and repeating columns that provide a basis of scale. The
                emptiness of the back plane is similar to another, more famous artwork by Dalí titled <span
                    class="fst-italic">The Persistence of Memory</span>. That painting, from 1931, also exists on a flat, empty
                plane with mountainous features in the background. This feature aligns with the common elements found within
                surrealist pieces, and so it is interesting to note how that characteristic has become consistent through
                multiple pieces from Dalí in different mediums trying to convey similar artistic ideas.
            </p>

            <p>
                To revisit the experience of the viewer, it is clear that many of these subjects illustrated on the glass panels
                are abstract. There is not a clear meaning when looking at the subjects alone. When connecting them to the
                greater theme of the piece though, there begins to be a logical direction from Dalí. It is obvious the
                inspiration for the creation of this sculpture was theater and the influences of it. The viewer experience shows
                this. By placing the sculpture into the wall, and allowing for a single viewpoint, the viewing experience of the
                sculpture becomes very similar to that of the viewing experience when attending a real theatrical performance.
                Audience members just see what is shown to them on the stage, not what is going on in the wings or behind the
                stage. To allow viewerships of those angles would be breaking the perception of typical theater goers that Dalí
                wished to emulate in this piece. As for the subject matter, it relates to the themes of theater in that it
                appears chaotic. There is a possibility this could be the play gone wrong, that there has been a mishap in
                performance. It could also be a situation where a director became overly ambitious trying to create something
                too experimental. That would not be unlike what Dalí may have experienced working as an experimental ballet set
                designer a few years earlier in his career. But, related to that point, this could have been a replication for a
                vision Dalí had wished to create when he was working as a set designer but never actually got the chance to
                make.
            </p>

            <p>
                Regardless of the interpretation of the piece, it absolutely fits into the surrealist movement. The connections
                between the foreground, middleground, and background are pushing the limits of reality, possibly making more
                sense if it was in a dream. The way Dalí plays with the perception of depth is unique, and it feels possibly
                like a mind trick is being played on the piece&#39;s viewer. The combination of rough rocks with smooth grass
                again show a dreamlike contrast. The juxtaposition overall of elements together where they otherwise would not
                or should not be together reiterates many of the characteristics of the surrealist movement. The choice of
                medium, paint on glass, in combination with the installed light source within the sculpture, provides a very
                hazy appearance. The pale choice of colors within the scene really enhances this effect. The dark colors of the
                stage are more crisp, meaning they could be based in reality while the rest of the image is in a haze,
                representing a dream or imagined scene. The piece absolutely tests the judgements of what could be considered a
                good subject for a piece. The fact that this piece has a very unfocused focal point or lacks one altogether
                shows Dalí&#39;s resistance towards the more traditional views of art.
            </p>

            <p>
                Salvador Dalí&#39;s ability to create artworks that feature subjects beyond reality is truly fascinating, as it
                takes true creativity and imagination to compose a piece based on something entirely fictitious. His unique
                technique with this diorama-like sculpture shows that as an artist, Dalí placed a lot of value on the way his
                pieces were intended to be viewed. Being quite abstract with his subjects, Dalí may have understood that the
                content of his pieces may get overlooked by some more casual viewers of art. But by forcing the perspective, he
                makes it clear to the audience, in a very unique way, what his intentions are. That influence from the arts of
                filmmaking and theater come through a lot in this piece. Not only does the sculpture show the influence these
                art forms had on Dalí, but it also demonstrates his personal experience with practicing them. In some ways,
                <span class="fst-italic">The Little Theater</span> may represent Dalí&#39;s opinions on these art forms, and
                tries to answer or address the questions regarding what or how much the audience of them should know. But he
                does so in a way that impacts the viewer enough for themselves to ask and answer those questions on their own.
            </p>
        </section>
    }
    @case (SelectedWriting.Entrepreneurship) {
        <section class="border border-secondary border-opacity-50 border-4 p-3">
            <p>
                On Adams Avenue in Hauppauge, a central road for the surrounding businesses, unexpectedly lies a sweet-lovers
                paradise. Lavender Cupcakery and Dessert Shoppe is a new bakery which opened earlier this year in the heart of
                Hauppauge&#39;s industrial park. Lavender offers a variety of treats, including decorated cookies, macarons,
                pies, cakes, and of course, cupcakes. And surprisingly, all the desserts baked fresh each day are made by just
                one woman, the 25 year old owner Sara Caiola.
            </p>

            <p>
                While Lavender&#39;s doors only opened in April of this year, that was far from the beginning of Caiola&#39;s
                baking journey. “I always wanted to be an art teacher,” she said. “But my high school art teacher was mean and
                constantly gave me detention. So instead of art I started baking.” She excelled in her high school baking
                classes, and upon graduating from Connetquot High School in 2014, attended culinary school for baking. Starting
                then she began to dream up what would now become Lavender Cupcakery.
            </p>

            <p>
                To save for her brick and mortar she worked out of her home, selling online through the name Sara&#39;s World of
                Cupcakes. Six years later, Lavender was born. Caiola and her partner, Tyler Indelicato, work at the store seven
                days a week. “We&#39;ve been open for six months and it&#39;s really hard work,” Caiola said. “But I have a
                great partner and it&#39;s what I&#39;m meant to be doing.”
            </p>

            <p>
                Of course, though, not every part of entrepreneurship is as sweet as a cupcake. Beyond the challenges of opening
                a small business amid the Coronavirus pandemic are the issues of being in the minority demographic of
                entrepreneurs. When asked what challenges she has faced specific to this, Caiola responded “Tons.”
            </p>

            <p>
                She states, “There&#39;s a lot of people and services I need to use to run my business legally, and the second
                my voice is heard on the phone, 75% of the time I&#39;m greeted with a &#39;You sound so young!&#39;. Me being a
                female on top of it? Forget it.” Unfortunately, there aren&#39;t many good solutions to avoid this
                discrimination. “Any time there&#39;s a single question being asked, I&#39;m either perceived as naive or
                someone that they can take advantage of financially.” Caiola expressed. “My male partner now gets on the phone
                so we no longer have this issue.”
            </p>

            <p>
                The lack of resources for business owners was also something Caiola had noted as a source of problems. “You get
                handed the keys to a shop, but then what?” Caiola said. “There is so much that goes into it. The front, kitchen,
                fire marshall, health inspector, advertising, customers, product- What do other business owners do? No one has
                time to help you, and Google is only so reliable.”
            </p>

            <p>
                But the joy Caiola gets from fulfilling her dream makes the hard things easier to bear. She states, “My favorite
                part about my shop is being creative and making things I want to make. Even better than that is positive reviews
                on new products I concocted.” Over the years she has been doing business, Caiola has amassed a large following.
                Currently, she has over 12,000 followers on Instagram, and 5 stars on Yelp and Facebook. Her fans are also loyal
                customers, and Caiola&#39;s reflection on this past Halloween shows that. “I created 12 custom Halloween cookie
                designs from my own brain,” She said. “They were a hot commodity, we practically sold out of more than 1,000
                cookies. I put in hundreds of hours of work and it felt really great for them to be so well received.”
            </p>

            <p>
                With a great product, dedicated owner, and supportive community, Lavender Cupcakery is destined to be a thriving
                storefront for many years. Caiola states, “I think I&#39;m showing people dessert doesn&#39;t have to be a
                boring Entenmann&#39;s coffee cake. It can look pretty, it can be themed, you can use almost any ingredient, and
                it can be fun!” Lavender is a great example of how dreams become reality, and how sweet success can be.
            </p>
        </section>
    }
}

@if (selection() !== SelectedWriting.None) {
    <app-back-to-top></app-back-to-top>
}
