<div class="row mx-0 gy-3 gx-md-3">
    <div class="col-md-5 text-center text-md-end">
        <div class="row mx-0 gy-3">
            <app-portfolio-img class="col-12 pe-md-4" className="mx-auto ms-md-auto me-md-0"
                alt="Guitarist playing at a show" src="images/visual1.jpg" id="visual1" date="????"
                description="????????"></app-portfolio-img>
            <app-portfolio-img class="col-12 pt-md-3 pe-md-4" className="mx-auto ms-md-auto me-md-0"
                alt="Close up of funfetti cupcakes" src="images/visual3.jpg" id="visual3" date="????"
                description="????????"></app-portfolio-img>
            <app-portfolio-img class="col-12 pt-md-4 pe-md-4" className="mx-auto ms-md-auto me-md-0"
                alt="Headshot style portrait of a woman against a tree" src="images/visual12.jpg" id="visual12"
                date="????" description="????????"></app-portfolio-img>
        </div>
    </div>
    <div class="col-md-7 ps-0 text-center text-md-start">
        <div class="row mx-0 gy-3">
            <app-portfolio-img class="col-12" alt="Black and white photo of a goose with its head underwater"
                src="images/visual2.jpg" id="visual2" date="????" description="????????"></app-portfolio-img>

            <app-portfolio-img class="col-12 ps-md-5" alt="Photographed self portrait of Emma Dempsey, in costume"
                src="images/visual5.jpg" id="visual5" date="????" description="????????"></app-portfolio-img>

            <app-portfolio-img class="col-12 ps-md-5" alt="Singer for a band holding microphone to the crowd"
                src="images/visual6.jpg" id="visual6" date="????" description="????????"></app-portfolio-img>
        </div>
    </div>
</div>

<div class="row mx-0 mt-0 mt-md-2 gy-3 gx-md-4 justify-content-center">
    <div class="col-md-6">
        <div class="row mx-0 gy-3 gy-md-5">
            <app-portfolio-img class="col-12 text-center text-md-end ms-md-5" className="mx-auto ms-md-auto me-md-0"
                alt="Portrait of a redheaded woman in the forest during autumn" src="images/visual10.jpg" id="visual10"
                date="????" description="????????"></app-portfolio-img>
            <app-portfolio-img class="col-12 text-center text-md-end pe-md-3" className="mx-auto ms-md-auto me-md-0"
                alt="Landscape of the beach, with a single subject walking the shore" src="images/visual17.jpg"
                id="visual17" date="????" description="????????"></app-portfolio-img>
            <app-portfolio-img class="col-12 text-center text-md-end" className="mx-auto ms-md-auto me-md-0"
                alt="Photo of a winding path in a park" src="images/visual15.jpg" id="visual15" date="????"
                description="????????"></app-portfolio-img>
        </div>
    </div>
    <div class="col-md-5">
        <div class="row mx-0 gy-3 gy-md-5">
            <app-portfolio-img class="col-12 text-center text-md-start ps-md-5" className="mx-auto ms-md-0 me-md-auto"
                alt="Abstract photo of a tree with moss" src="images/visual7.jpg" id="visual7" date="????"
                description="????????"></app-portfolio-img>
            <app-portfolio-img class="col-12 text-center text-md-start" className="mx-auto ms-md-0 me-md-auto"
                alt="Close up photo of a dandelion" src="images/visual13.jpg" id="visual13" date="????"
                description="????????"></app-portfolio-img>
            <app-portfolio-img class="col-12 text-center text-md-start" className="mx-auto ms-md-0 me-md-auto"
                alt="Close up photo of pink macarons" src="images/visual14.jpg" id="visual14" date="????"
                description="????????"></app-portfolio-img>
        </div>
    </div>
