<div class="row mx-0 gy-3 gx-md-3">
    <div class="col-md-5 text-center text-md-end">
        <div class="row mx-0 gy-3">
            <app-portfolio-img class="col-12 pe-md-4" className="mx-auto ms-md-auto me-md-0"
                [card]="getCard('visual1')"></app-portfolio-img>
            <app-portfolio-img class="col-12 pt-md-3 pe-md-4" className="mx-auto ms-md-auto me-md-0"
                [card]="getCard('visual3')"></app-portfolio-img>
            <app-portfolio-img class="col-12 pt-md-4 pe-md-4" className="mx-auto ms-md-auto me-md-0"
                [card]="getCard('visual12')"></app-portfolio-img>
        </div>
    </div>
    <div class="col-md-7 ps-0 text-center text-md-start">
        <div class="row mx-0 gy-3">
            <app-portfolio-img class="col-12" [card]="getCard('visual2')"></app-portfolio-img>
            <app-portfolio-img class="col-12 ps-md-5" [card]="getCard('visual5')"></app-portfolio-img>
            <app-portfolio-img class="col-12 ps-md-5" [card]="getCard('visual6')"></app-portfolio-img>
        </div>
    </div>
</div>

<div class="row mx-0 mt-0 mt-md-2 gy-3 gx-md-4 justify-content-center">
    <div class="col-md-6">
        <div class="row mx-0 gy-3 gy-md-5">
            <app-portfolio-img class="col-12 text-center text-md-end ms-md-5" className="mx-auto ms-md-auto me-md-0"
                [card]="getCard('visual10')"></app-portfolio-img>
            <app-portfolio-img class="col-12 text-center text-md-end pe-md-3" className="mx-auto ms-md-auto me-md-0"
                [card]="getCard('visual17')"></app-portfolio-img>
            <app-portfolio-img class="col-12 text-center text-md-end" className="mx-auto ms-md-auto me-md-0"
                [card]="getCard('visual15')"></app-portfolio-img>
        </div>
    </div>
    <div class="col-md-5">
        <div class="row mx-0 gy-3 gy-md-5">
            <app-portfolio-img class="col-12 text-center text-md-start ps-md-5" className="mx-auto ms-md-0 me-md-auto"
                [card]="getCard('visual7')"></app-portfolio-img>
            <app-portfolio-img class="col-12 text-center text-md-start" className="mx-auto ms-md-0 me-md-auto"
                [card]="getCard('visual13')"></app-portfolio-img>
            <app-portfolio-img class="col-12 text-center text-md-start" className="mx-auto ms-md-0 me-md-auto"
                [card]="getCard('visual14')"></app-portfolio-img>
        </div>
    </div>
