<div class="mb-4">
    <div class="w-fit-content mx-auto row gx-md-4">
        <a [routerLink]="RouterLinkRoutePath.VisualPortfolioAll" class="w-fit-content col-auto pe-auto link-underline link-underline-opacity-0"><h1>Visual Portfolio</h1></a>
        <div class="col-auto">
            <div class="row mx-0 gy-1">
                <div class="col-12">
                    <a [routerLink]="RouterLinkRoutePath.VisualPortfolioPhotography" routerLinkActive
                        #photographyRla="routerLinkActive" [ngClass]="{'d-none': photographyRla.isActive}"
                        class="btn btn-secondary py-0 px-1">
                        Photography
                    </a>
                    <a [routerLink]="RouterLinkRoutePath.VisualPortfolioAll"
                        [ngClass]="{'d-none': !photographyRla.isActive}" class="btn btn-secondary active py-0 px-1">
                        Photography
                    </a>
                </div>
                <div class="col-12">
                    <a [routerLink]="RouterLinkRoutePath.VisualPortfolioGraphicArt" routerLinkActive
                        #graphicArtRla="routerLinkActive" [ngClass]="{'d-none': graphicArtRla.isActive}"
                        class="btn btn-secondary py-0 px-1">
                        Graphic Art & Design
                    </a>
                    <a [routerLink]="RouterLinkRoutePath.VisualPortfolioAll"
                        [ngClass]="{'d-none': !graphicArtRla.isActive}" class="btn btn-secondary active py-0 px-1">
                        Graphic Art & Design
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<router-outlet />

<app-back-to-top></app-back-to-top>
