<img src="/images/visual1.jpg" id="visual1" alt="Guitarist playing at a show"/>
<img src="/images/visual2.jpg" id="visual2" alt="Black and white photo of a goose with its head underwater"/>
<img src="/images/visual3.jpg" id="visual3" alt="Close up of funfetti cupcakes"/>
<img src="/images/visual4.jpg" id="visual4" alt="Pointillism piece of a magnolia tree flower"/>
<img src="/images/visual5.jpg" id="visual5" alt="Photographed self portrait of Emma Dempsey, in costume"/>
<img src="/images/visual6.jpg" id="visual6" alt="Singer for a band holding microphone to the crowd"/>
<img src="/images/visual7.jpg" id="visual7" alt="Abstract photo of a tree with moss"/>
<img src="/images/visual8A.jpg" id="visual8A" alt="Lefthand side of a magazine featured on April Greiman"/>
<img src="/images/visual8B.jpg" id="visual8B" alt="Righthand side of a magazine featured on April Greiman"/>
<img src="/images/visual9.jpg" id="visual9" alt="Infographic on most popular flavors of Dum Dums lollipops"/>
<img src="/images/visual10.jpg" id="visual10" alt="Portrait of a redheaded woman in the forest during autumn"/>
<img src="/images/visual11A.jpg" id="visual11A" alt="Lefthand side of a magazine featured on April Greiman"/>
<img src="/images/visual11B.jpg" id="visual11B" alt="Righthand side of a magazine featured on April Greiman"/>
<img src="/images/visual12.jpg" id="visual12" alt="Headshot style portrait of a woman against a tree"/>
<img src="/images/visual13.jpg" id="visual13" alt="Close up photo of a dandelion"/>
<img src="/images/visual14.jpg" id="visual14" alt="Close up photo of pink macarons"/>
<img src="/images/visual15.jpg" id="visual15" alt="Photo of a winding path in a park"/>
<img src="/images/visual16.jpg" id="visual16" alt="Abstract graphic design using similar colors and shapes"/>
<img src="/images/visual17.jpg" id="visual17" alt="Landscape of the beach, with a single subject walking the shore"/>
