<div class="row mx-0 gy-3 gx-md-5">
    <app-portfolio-img class="col-md-6 text-center ps-0 text-md-end" className="mx-auto ms-md-auto me-md-0"
        alt="Pointillism piece of a magnolia tree flower" src="images/visual4.jpg" id="visual4" date="????"
        description="????????"></app-portfolio-img>
    <app-portfolio-img class="col-md-5 ps-0" alt="Abstract graphic design using similar colors and shapes"
        src="images/visual16.jpg" id="visual16" date="????" description="????????"></app-portfolio-img>
</div>

<div class="row mx-0 mt-0 mt-md-4 gy-3 gx-md-4">
    <app-portfolio-img class="col-md-9 text-center text-md-start ms-md-5" className="mx-auto ms-md-0 me-md-auto"
        alt="Lefthand and Righthand sides of a magazine featured on April Greiman" src="images/visual8.jpg" id="visual8"
        date="????" description="????????"></app-portfolio-img>
</div>

<div class="row mx-0 mt-0 mt-md-4 gy-3 gx-md-4">
    <app-portfolio-img class="col-md-9 text-center text-md-start ms-md-5" className="mx-auto ms-md-0 me-md-auto"
        alt="Lefthand and Righthand sides of a magazine featured on April Greiman" src="images/visual11.jpg"
        id="visual11" date="????" description="????????"></app-portfolio-img>
</div>

<div class="row mx-0 mt-0 mt-md-4 gy-3 gx-md-4">
    <app-portfolio-img class="col text-center text-md-start ms-md-5" className="mx-auto ms-md-0 me-md-auto"
        alt="Infographic on most popular flavors of Dum Dums lollipops" src="images/visual9.jpg" id="visual9"
        date="????" description="????????"></app-portfolio-img>
</div>
