<div class="row mx-0 gy-3 gx-md-5">
    <app-portfolio-img class="col-md-6 text-center ps-0 text-md-end" className="mx-auto ms-md-auto me-md-0"
        [card]="getCard('visual4')"></app-portfolio-img>
    <app-portfolio-img class="col-md-5 ps-0" alt="Abstract graphic design using similar colors and shapes"
        [card]="getCard('visual16')"></app-portfolio-img>
</div>

<div class="row mx-0 mt-0 mt-md-4 gy-3 gx-md-4">
    <app-portfolio-img class="col-md-9 text-center text-md-start ms-md-5" className="mx-auto ms-md-0 me-md-auto"
        [card]="getCard('visual8')"></app-portfolio-img>
</div>

<div class="row mx-0 mt-0 mt-md-4 gy-3 gx-md-4">
    <app-portfolio-img class="col-md-9 text-center text-md-start ms-md-5" className="mx-auto ms-md-0 me-md-auto"
        [card]="getCard('visual11')"></app-portfolio-img>
</div>

<div class="row mx-0 mt-0 mt-md-4 gy-3 gx-md-4">
    <app-portfolio-img class="col text-center text-md-start ms-md-5" className="mx-auto ms-md-0 me-md-auto"
        [card]="getCard('visual9')"></app-portfolio-img>
</div>
